.nav-link {
  text-decoration: none;
  color:  #ffffff;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
input[placeholder], [placeholder], *[placeholder] {
  color: #ffffff !important;
}
::placeholder{
  padding-left:5%;
  color: #ffffff;
}
@media (max-width: 765px) {
  .posters{
    display: none;
  }
}


