<div
  class="ml-0 max-w-full bg-slate-200 rounded-xl shadow-md overflow-hidden md:max-w-full"
  *ngIf="series"
>
  <div class="flex justify-center mb-3 mt-3">
    <button
      class="pb-5 w-[200px] rounded-tl-[25px] rounded-br-[25px] bg-slate-100 hover:bg-slate-300/30"
      (click)="goBack()"
    >
      <ng-icon
        class="py-4 ml-5"
        size="40px"
        color="#f06292"
        name="bootstrapArrowLeft"
      ></ng-icon>
    </button>
  </div>
  <div class="ml-0 md:flex">
    <div class="md:shrink-0">
      <img
        class="mb-4 bg-red-950 shadow-lg shadow-red-950/60"
        src="https://image.tmdb.org/t/p/w400/{{ series.poster_path }}"
        alt="{{ series.name }}"
      />
    </div>
    <div class="md:shrink-0 bg-slate-200 p-8">
      <div class="flex flex-row gap-2 mt-1 text-xl text-center font-[30px]">
        <span
          class="flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          Nome
        </span>
      </div>
      <div class="flex flex-row gap-2 mt-1 text-xl text-center font-[30px]">
        <span
          class="flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          <div>
            {{ series.name }}.
            <ng-icon
              class="py-[17px] ml-1"
              size="20px"
              color="#f06292"
              name="bootstrapAward"
            ></ng-icon>
          </div>
        </span>
      </div>
      <div
        class="flex flex-row gap-2 mt-1 text-xl text-center font-font-[30px]"
      >
        <span
          class="flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          <div>
            votos {{ series.vote_count }}.
            <ng-icon
              class="py-[17px] ml-1"
              size="18px"
              color="#f06292"
              name="bootstrapStarHalf"
            ></ng-icon>
          </div>
        </span>
      </div>
      <div
        class="flex flex-row gap-2 mt-1 text-xl text-center font-font-[30px]"
      >
        <span
          class="flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          <div>
            Média de votos {{ series.vote_average }}.
            <ng-icon
              class="py-[17px] ml-1"
              size="18px"
              color="#f06292"
              name="bootstrapStarHalf"
            ></ng-icon>
          </div>
        </span>
      </div>

      <div
        class="flex flex-row gap-2 mt-1 text-xl text-center font-font-[30px]"
      >
        <span
          class="flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          <div>
            Popularidade {{ series.popularity }}.
            <ng-icon
              class="py-[26px] ml-1"
              size="25px"
              color="#f06292"
              name="bootstrapStars"
            ></ng-icon>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-slate-200 flex flex-row gap-0 text-2xl text-center font-font-[30px] pt-2"
>
  <span
    class="ml-5 flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
    >Visão geral...</span
  >
</div>
<div
  class="bg-slate-200 flex flex-row gap-0 text-xl text-center font-font-[30px]"
>
  <span
    class="flex flex-row gap-1 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
  >
    <p class="indent-5 pb-2">{{ series?.overview }}</p>
  </span>
</div>
<div class="bg-slate-200 flex justify-center">
  <svg
    viewBox="0 0 24 24"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    fill="#000000"
    stroke="#000000"
    class="animate-bounce h-12 border border-pink-500 rounded-full"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <title>Arrow-Down</title>
      <g
        id="Page-1"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <g id="Arrow-Down">
          <rect
            id="Rectangle"
            fill-rule="nonzero"
            x="0"
            y="0"
            width="24"
            height="24"
          ></rect>
          <line
            x1="12"
            y1="6"
            x2="12"
            y2="17.5"
            id="Path"
            stroke="#f06292"
            stroke-width="2"
            stroke-linecap="round"
          ></line>
          <path
            d="M16,14 L12.7071,17.2929 C12.3166,17.6834 11.6834,17.6834 11.2929,17.2929 L8,14"
            id="Path"
            stroke="#f06292"
            stroke-width="2"
            stroke-linecap="round"
          ></path>
        </g>
      </g>
    </g>
  </svg>
</div>
<h2
  class="bg-slate-200 font-bold text-center text-pink-700 text-[30px] border-t-[1px] border-gray-400"
>
  Elenco
</h2>
<div class="bg-slate-200 flex justify-center flex-wrap gap-1 pb-2">
  <div *ngFor="let actor of cast">
    <img
      class="w-5/6 bg-red-950 shadow-lg shadow-red-950/60"
      src="https://image.tmdb.org/t/p/w200/{{ actor.profile_path }}"
      alt="{{ actor.name }} Profile"
    />
    <p class="font-bold text-center text-pink-700 mt-2">{{ actor.name }}</p>
  </div>
</div>
