
.nav-link {
  text-decoration: none;
  color:  #ffffff;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li > a.active {
  color: #82b7f3;

}
input[placeholder], [placeholder], *[placeholder] {
  color: #ffffff !important;
}
::placeholder{
  color: #ffffff;
}
